:root {
  --clr-text-primary: white;
}

body,
h1,
h2,
h3 {
  font-family: Arial;
  text-align: center;
  color: var(--clr-text-primary);
}

header {
  font-size: calc(15px + 1.5vw);
}

h1,
h2,
h3 {
  font-size: calc(5px + 1vw);
}

#App {
  /* background-color: #282c34; */
  min-height: 100vh;

  /* display: flex;
  flex-direction: column;
  gap: calc(5px + 1vw); */
  text-align: center;
}
